footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    // background: #fff;

    .copyright {
        font-size: 18px;
        color: #000;
        font-family: Helvetica;
        letter-spacing: 0.3px;
        white-space: nowrap;
    }

    .footer-socials {
        display: flex;
        a {

        }
        img {
            margin-right: 35px;
            width: 25px;
            height: 25px;
        }
    }

    .scroll-down {
        cursor: pointer;
        img{
            width: 42px;
        }
        animation: go-go 1.5s infinite;
          animation-timing-function: ease-out; 
    }

    .create-trading-btn {

        position: absolute;
        right: 0;
        bottom: 0;
        width: 325px;
        height: 60px;
        background-color: #56a54b;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        display: flex;
        display: none;
        align-items: center;
        justify-content: center;
    }
}


@keyframes go-go {
    0% {
        transform: translateY(0px);
    }
    30% {
        transform: translateY(12px);
    }
    100% {
        transform: translateY(0px);
    }
}
