footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    // background: #fff;

    .copyright {
        font-size: 18px;
        color: #000;
        font-family: Helvetica;
        letter-spacing: 0.3px;
        white-space: nowrap;
    }

    .footer-socials {
        display: flex;
        a {

        }
        img {
            margin-right: 35px;
            width: 25px;
            height: 25px;
        }
    }

    .scroll-down {
        img{
            width: 42px;
        }
        // width: 25px;
        // height: 38px;
        // border: 2px solid #000;
        // border-radius: 11px;
        // position: relative;

        // &:after {
        //     content: '';
        //     position: absolute;
        //     border-radius: 100%;
        //     border: 1px solid #000;
        //     width: 2px;
        //     height: 2px;
        //     left: 0;
        //     right: 0;
        //     margin: auto;
        //     top: 8px;
        //     background: #000;
        // }

        // &:hover {}
    }

    .create-trading-btn {

        position: absolute;
        right: 0;
        bottom: 0;
        width: 325px;
        height: 60px;
        background-color: #56a54b;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        display: flex;
        display: none;
        align-items: center;
        justify-content: center;
    }
}