/* MOBILES */

.desktop {
    display: block;
}

.mobile {
    display: none;
}


@media screen and (max-height: 860px) {
    .main-title {
        font-size: 30px;

        &__shadow {
            font-size: 230px;
        }
    }

    .section {
        padding-top: 120px;
    }

    .onepage-pagination {
        height: calc((30px) *7);

        li {
            a {
                height: 40px;

                &:before {
                    height: 25px;
                }
            }
        }
    }

    .table tbody tr:nth-child(n + 6) {
        display: none;
    }

    .about-section .about__item_text {
        font-size: 14px;
    }

    .about-section .about__item:nth-child(1) .about__item_img_bg {
        height: 280px;
    }

    .about-section .about__item:nth-child(2) .about__item_img_bg {
        height: 150px;
    }

    .about-section .about__item:nth-child(3) {
        margin-top: 40px;

        .about__item_img_bg {
            height: 200px;
        }
    }

    .skills-section .skills__bg {
        height: 400px;
        background-size: contain !important;
    }

    .skills-section .skills__title {
        font-size: 28px;
    }

    .skills-section .skills__list li {
        font-size: 20px;
    }

    .skills-section .skills__try-now {
        margin-top: 30px;
    }

    .skills-section .skills__soon {
        margin-top: 8px;
    }

    .roadmap__years {
        margin-top: 60px;
    }

    .roadmap__timeline {
        margin-top: 30px;
    }

    .roadmap__timeline_item {
        height: 186px;
    }
    .roadmap__timeline_month_line {
        height: 90px;
    }

    .create-platform-section .create-platform__content {
        margin-top: 40px;
    }
    .create-platform-section .create-platform__title {
        font-size: 38px;
    }
    .create-platform-section .create-platform__descr {
        // margin-top: 20px;
        font-size: 16px;
    }
    .create-platform-section .create-platform__form-title {
        margin-top: 30px;
    }
    .create-platform-section .create-platform__bg {
        height: 100vh;
    }

    .team-section .team-banner {
        height: 220px;
    }
    .team-section .team-list__item_name {
        font-size: 16px;
    }
    .team-section .team-list__item_position {
        font-size: 16px;
        margin-top: 15px;
    }
    .team-section .team-list__item_socials {
        margin-top: 25px;
    }
}



@media screen and (max-width: 1600px) {

}


@media screen and (max-width: 1280px) {
    header{
        height: 70px;
    }
    header .logo {
        height: 70px;
        min-width: 70px;
        max-width: 70px;
    }
    header .header-menu-item {
        padding: 0 13px;
    }
    .team-section .team-banner {
        background-size: 152%;
    }

    .team-section .team-list {
        width: 80%;
    }

    .contacts-section .form-block__bg {
        background-position: center!important;
    }
}

@media screen and (max-width: 980px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }


}


@media screen and (max-width: 800px) {
    header{
        height: 44px;
        .header-menu {
            display: none;
        }
        .burger {
            display: block;
        }
    }
    header .logo {
        height: 44px;
        min-width: 44px;
        max-width: 44px;
    }



    .section {
        padding-top: 100px;
    }
    .main-title__shadow {
        font-size: 180px;
    }

    .team-section .team-banner {
        height: 150px;
    }
    
    .team-section .team-list {
        width: 90%;
    }
    .team-section .team-list__item_name, .team-section .team-list__item_position {
        font-size: 14px;
    }

    .team-section .team-list__item_socials a {
        margin-right: 5px;
        img {
            width: 18px;
            height: 18px;
        }
    }

    .form {
        width: 50%;
        padding-right: 30px;
    }
}


@media screen and (max-width: 600px) {


}

@media screen and (max-width: 480px) {
  
}