/* MOBILES */

.desktop {
    display: block;
}

.mobile {
    display: none;
}


@media screen and (max-height: 900px) {
    .main-title {
        font-size: 30px;

        &__shadow {
            font-size: 230px;
        }
    }

    .section {
        padding-top: 120px;
    }

    .onepage-pagination {
        height: calc((40px) *7);

        li {
            a {
                height: 40px;

                &:before {
                    height: 25px;
                }
            }
        }
    }

    .table tbody tr:nth-child(n + 6) {
        display: none;
    }

    .about-section .about__item_text {
        font-size: 14px;
    }

    .about-section .about__item:nth-child(1) .about__item_img_bg {
        height: 280px;
    }

    .about-section .about__item:nth-child(2) .about__item_img_bg {
        height: 150px;
    }

    .about-section .about__item:nth-child(3) {
        margin-top: 40px;

        .about__item_img_bg {
            height: 200px;
        }
    }

    .skills-section .skills__bg {
        height: 400px;
        background-size: contain !important;
    }

    .skills-section .skills__title {
        font-size: 28px;
    }

    .skills-section .skills__list li {
        font-size: 20px;
    }

    .skills-section .skills__try-now {
        margin-top: 30px;
    }

    .skills-section .skills__soon {
        margin-top: 8px;
    }

    .roadmap__years {
        margin-top: 60px;
    }

    .roadmap__timeline {
        margin-top: 30px;
    }

    .roadmap__timeline_item {
        height: 186px;
    }

    .roadmap__timeline_month_line {
        height: 90px;
    }

    .create-platform-section .create-platform__content {
        margin-top: 40px;
    }

    .create-platform-section .create-platform__title {
        font-size: 38px;
    }

    .create-platform-section .create-platform__descr {
        // margin-top: 20px;
        font-size: 16px;
    }

    .create-platform-section .create-platform__form-title {
        margin-top: 30px;
    }

    .create-platform-section .create-platform__bg {
        height: 100vh;
    }

    .team-section .team-banner {
        height: 220px;
    }

    .team-section .team-list__item_name {
        font-size: 16px;
    }

    .team-section .team-list__item_position {
        font-size: 16px;
        margin-top: 15px;
    }

    .team-section .team-list__item_socials {
        margin-top: 25px;
    }
}



@media screen and (max-width: 1600px) {}


@media screen and (max-width: 1280px) {
    header {
        height: 70px;
    }

    header .logo {
        height: 70px;
        min-width: 70px;
        max-width: 70px;
    }

    header .header-menu-item {
        padding: 0 13px;
    }

    .team-section .team-banner {
        background-size: 152%;
    }

    .team-section .team-list {
        width: 80%;
    }

    .contacts-section .form-block__bg {
        background-position: center !important;
    }
}

@media screen and (max-width: 980px) {

    footer .footer-form {
        width: 300px;
        .form .input {
            font-size: 16px;

        }
        .form .btn {
            font-size: 16px;
            width: 100%;
                        height: 50px;
        }
    }
    footer .create-trading-btn {
        font-size: 16px;
    }

    footer .footer-form__text {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    header .header-menu-item, header .header-menu.right .header-menu-item{
        padding: 0 6px; 
         a {
            font-size: 12px;
         }
    }
    .table tbody tr td, .table thead th {
        padding: 0 10px;
        &:nth-child(n + 6) {
            display: none;
        }
    }

}
//mobile
@media screen and (max-width: 600px) {
    .container {
        padding: 0 20px;
    }

    // .desktop {
    //     display: none;
    // }

    .footer-form  {
        display: none;
    }

    .mobile {
        display: block;
    }


    header {
        height: 44px;

        .header-menu {
            display: none;
        }

        .burger {
            display: block;
        }
    }

    header .logo {
        height: 44px;
        min-width: 44px;
        max-width: 44px;
    }



    .main-title {
        font-size: 20px;
    }

    .section {
        padding-top: 90px;
    }

    .mobile-currency {
        display: block;
        &__title {
            display: block;
        }
    }

    .currencies-list {
        margin-top: -5px;
        position: absolute;
        display: none;
        right: 0;
        width: 141px;
        flex-wrap: wrap;
        background-color: #e8e8e8;
        z-index: 99;
        li {
            width: 100%;
            margin-top: 10px;
            text-align: right;
            padding-right: 20px;
            margin-left: 0;
            &:first-child {
                margin-top: 15px;
            }
            &:last-child {
                margin-bottom: 15px;
            }
            &.active:after {
                content: none;
            }
        }
    }

    .onepage-pagination {
        right: 2px;
        height: calc((25px) *7);

        li {
            a {
                height: 25px;

                &:before {
                    height: 5px;
                }
            }
        }
    }

    .secondary-title {
        display: none;
    }

    .slick-slider {
        display: none !important;
    }

    .main-title__shadow {
        display: none;
    }

    .about-section .about__item {
        &:nth-child(1),  &:nth-child(2),  &:nth-child(3) {
            width: 100%;
            display: none;
            margin: 0;
            position: static;
            &.active {
                display: block;
            }
            .about__item_img {
                width: 100%;
            }
            .about__item_img_bg {
                width: 100%;
            }
            .about__item_text {
                width: 100%;
                min-width: 100%;
            }
        } 
    }

    .team-section .team-banner {
        height: 150px;
    }

    .team-section .team-list {
        width: 90%;
    }

    .team-section .team-list__item_name,
    .team-section .team-list__item_position {
        font-size: 14px;
    }

    .team-section .team-list__item_socials a {
        margin-right: 5px;

        img {
            width: 18px;
            height: 18px;
        }
    }

    .form {
        width: 50%;
        padding-right: 30px;
    }

    .table thead th,
    .table tbody tr td {
        font-size: 12px;

        &:nth-child(n + 4) {
            display: none;
        }
    }

    // .table tbody tr:nth-child(n + 6) {
    //     display: table-cell;
    // }


    .contacts-section .form-block__bg {
        display: none;
    }

    .contacts-section .form-block {
        margin-top: 0;
    }

    .contacts-section .form {
        margin-top: 0;
        width: 100%;
    }

    .form .btn {
        height: 44px;
    }
    .form .input,
    .form .textarea {
        font-size: 16px;
    }
    .form .textarea {
        height: 150px;
    }
    
    footer {
        height: auto;
    }
    footer .footer-socials img {
        width: 18px;
        height: 18px;
        margin-right: 18px;
    }

    footer .scroll-down img {
        width: 30px;
    }

    footer .copyright {
        // display: none
        width: 108px;
        visibility: hidden;
    }
}


@media screen and (max-width: 375px) {

    header {
        .dropdown-menu {
            width: 100%;
            padding: 10px 0;
        }
    }

    .main-btn {
        width: 100%;
    }
}