footer.footer
	.footer-socials
		a(href='' target='_blank')
			img(src='img/facebook.svg' alt='')
		a(href='' target='_blank')
			img(src='img/twitter.svg' alt='')
		a(href='' target='_blank')
			img(src='img/telegram.svg' alt='')
	.scroll-down
		img(src='img/noun_Mouse_744299.svg' alt='')
	.copyright &copy; Exchange2.net 2018
	.footer-form.active
		.footer-form__text
			| Become 
			br
			| exchange platform 
			br
			| owner
		form#footer-create-platform-form.form(novalidate='')
			input.input(type='email' data-pattern='email' name='email' placeholder='Email' data-error-msg='Email is invalid' required='')
		.create-trading-btn Create Your Account
		.submit-create-trading-form JOIN NOW
