header
	a.logo(href='index.html#home' data-navigation-link='1')
		img(src='img/logo.svg')
	ul.header-menu.center
		li.header-menu-item
			a(href='secure_wallet.html') Secure Wallet
		li.header-menu-item
			a(href='exchange.html') Exchange
		li.header-menu-item
			a(href='margin_trading.html') Margin trading
		li.header-menu-item
			.header-menu-item__dots ...
			ul
				li
					a(href='news.html') News
				li
					a(href='support.html') Support
				li
					a(href='faq.html') FAQ
				li
					a(href='knownladge.html') Knownladge Base
	ul.header-menu.right
		li.header-menu-item
			a(href='login.php' target="_blank") Log in
		li.header-menu-item
			a(href='signup.php' target="_blank") Sign up
		li.header-menu-item
			.language-value Eng
			ul.language-list
				li Eng
				li Rus
				li 简体
	.header-create-platform
		a(href='#' data-navigation-link='5') Create Trading Platform
	.burger(data-menu='')
		span.burger__line
		span.burger__line
		span.burger__line
	.dropdown-menu(data-menu-dropdown='')
		.dropdown-menu__close(data-menu-dropdown-close='')
		ul.header-menu
			li.header-menu-item()
				a(href='secure_wallet.html') Secure Wallet
			li.header-menu-item()
				a(href='exchange.html') Exchange
			li.header-menu-item()
				a(href='margin_trading.html') Margin trading
			li.header-menu-item
				a(href='news.html') News
			li.header-menu-item
				a(href='support.html') Support
			li.header-menu-item
				a(href='faq.html') FAQ
			li.header-menu-item
				a(href='knownladge.html') Knownladge Base
		
		ul.language
			li.active Eng
			li Ru
			li 简体
		button.btn Create Your Account