header
	a.logo(href='index.html#home' data-navigation-link='1')
		img(src='img/logo.svg')
	ul.header-menu.center
		li.header-menu-item
			a(href='#2') Secure Wallet
		li.header-menu-item
			a(href='#3') Exchange
		li.header-menu-item
			a(href='#4') Margin trading
		li.header-menu-item
			.header-menu-item__dots ...
			ul
				li
					a(href='news.html') News
				li
					a(href='support.html') Support
				li
					a(href='faq.html') FAQ
				li
					a(href='knownladge.html') Knownladge Base
	ul.header-menu.right
		li.header-menu-item
			a.js-popup(href='login.php') Log in
		li.header-menu-item
			a.js-popup(href='signup.php') Sign up
	.header-create-platform
		a(href='#' data-navigation-link='5') Create Trading Platform
	.burger(data-menu='')
		span.burger__line
		span.burger__line
		span.burger__line
	.dropdown-menu(data-menu-dropdown='')
		.dropdown-menu__close(data-menu-dropdown-close='')
		ul.header-menu
			li.header-menu-item(data-navigation-link='2')
				a(href='#2') Secure Wallet
			li.header-menu-item(data-navigation-link='3')
				a(href='#3') Exchange
			li.header-menu-item(data-navigation-link='4')
				a(href='#4') Margin trading
			li.header-menu-item
				a(href='news.html') News
			li.header-menu-item
				a(href='support.html') Support
			li.header-menu-item
				a(href='faq.html') FAQ
			li.header-menu-item
				a(href='knownladge.html') Knownladge Base