.contacts-footer
	.contacts-label START YOUR TRADE NOW
	.container
		.contacts-footer__button
			.btn.create-trading-btn Create Your Account
		.contacts-footer__list
			div Info
			div
				a(href='support.html') User support
			div
				a(href='knowledge_base.html') Knowledge base
			div
				a(href='faq.html') FAQ
			div
				a(href='') Fees and limits
			div
				a(href='') Referral program
		.contacts-footer__list
			div Trade Now
			div
				a(href='') Secure Wallet
			div
				a(href='') Exchange
			div
				a(href='') Margin Trade
		.contacts-footer__list
			div About
			div
				a(href='news.html') News
			div
				a(href='') Blog
			div
				a(href='') Our Features
			div
				a(href='') Road map
			div
				a(href='') Reviews
		.contacts-footer__list
			div Documents
			div
				a(href='') User agreement
			div
				a(href='') Privacy Policy
			div
				a(href='') AML/KYC Policy
			div
				a(href='') Token Purchase Agreement
			div
				a(href='') Wrongdepo Policy
			div
				a(href='') Media-Kit
		.contacts-footer__list
			div Follow us
			ul
				each val in ['facebook-black', 'bra-github', 'twitter-black', 'bra-blogger',  'bra-reddit', 'bra-instagram', 'youtube', 'medium', 'telegram-black']
					li
						a(href='' target='_blank')
							img(src=('img/' + val + '.svg') alt='')
		.contacts-footer__bottom
			.copyright &copy; 2019 Exchange2.net