doctype html
head
	title LP
	link(rel="shortcut icon" href="/favicon.png")
	meta(content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1.0, maximum-scale=1" name="viewport")
	//- block head
	link(href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800&display=swap" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:100,300,400,500,600,700&display=swap" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,500,600,700,900" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,900" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic" rel="stylesheet")
body
	include  parts/header.pug
	
	main(class=htmlWebpackPlugin.options.page + '-page')
		block content
		.overlay
		
	include  parts/footer.pug

	block modals

	//- include parts/modals.pug

	//- div(style="display: none")
	//- 	include  sprite.svg