script.
		var translateConfig = {
			eng: {
				secure_wallet: 'Secure Wallet',
				exchange: 'Exchange',
				margin_trading: 'Margin trading',
				news: 'News',
				support: 'Support',
				knownladge_base: 'Knownladge Base',
				login: 'Log in',
				signup: 'Sign up',
				create_trading_platform: 'Create Trading Platform',
				title1: 'CRYPTO TRADING PLATFORM <br> WHAT YOU NEED!',
				subtitle1: 'What New on Crypto?', 
				title2: 'WHY WE ARE BETTER THAN ANOTHER <br> 100000+ PLATFORMS? ',
				title3: 'THIS IS <br> OUR PLAN',
				road: 'ROAD',
				title4: 'Our <br> Friendly services',
				partners: 'PARTNERS',
				title5: 'Feel Free to <br> contant US',
				contacts: 'CONTACTS',
				about: 'ABOUT',
				title_news: 'NEWS'
			}, 
			ru: {
				about: 'О компании'
			},
			cn: {
				
			}	
		};