script.
		var translateConfig = {
			eng: {
				secure_wallet: 'Secure Wallet',
				exchange: 'Exchange',
				margin_trading: 'Margin trading',
				news: 'News',
				support: 'Support',
				knownladge_base: 'Knownladge Base',
				login: 'Log in',
				signup: 'Sign up',
				create_trading_platform: 'Create Trading Platform',
				slider_text1: '<span> CREATE </span><span> YOUR OWN CRYPTO</span> <span> EXCHANGE PLATFORM</span>',
				slider_text2: '<span> BITCOIN </span> <span> IS FALLING</span>',
				slider_descr1: 'Everyone can create his own cryptocurrency exchange platform in 30 minutes.',
				slider_descr2: 'Why bitcoin and other cryptocurrencies are falling. Opinions of representatives of the industry.',
				read: 'read',
				title1: 'CRYPTO TRADING PLATFORM <br> WHAT YOU NEED!',
				subtitle1: 'What New on Crypto?', 
				title2: 'WHY WE ARE BETTER THAN ANOTHER <br> 100000+ PLATFORMS? ',
				about: 'ABOUT',
				about_img_text1: 'Vestibulum rutrum quam vitae fringilla tincidunt.',
				about_text1: '98% of all funds are stored offline. Our trading platform is a network of secure protected microservices written in Golang.',
				about_img_text2: 'Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. ',
				about_text2: 'Each trading pair is a dedicated microservice written in go that is capable to run more than a million transactions per a second. We use in-memory storage to store all operations and our own data storage system to handle fast trading operations.',
				about_img_text3: 'Cras quis nulla commodo, aliquam lectus sed, blandit augue.',
				about_text3: 'Everyone can create his own cryptocurrency exchange platform in 30 minutes.',
				title3: 'THIS IS <br> OUR PLAN',
				road: 'ROAD',
				roadmap_text1: 'Start of development <br>Exchange #2',
				roadmap_text2: 'First introduction to the public Interviewing potential users',
				roadmap_text3: 'Запуск онлайн кошелька для <br> криптовалют',
				roadmap_text4: 'Старт работы <br> криптовалютной биржи',
				roadmap_text5: 'Начало работы с фиатными валютами на <br> криптовалютной бирже',
				march: 'MARCH',
				june: 'JUNE',
				november: 'NOVEMBER',
				january: 'JANUARY',
				july: 'JULY',
				title4: 'Our <br> Friendly services',
				partners: 'PARTNERS',
				partners_text1: ' The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.',
				partners_text2: ' The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.',
				partners_text3: ' The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.',
				partners_text4: ' The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.',
				partners_text5: ' The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.',
				partners_text6: ' The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.',
				title5: 'Feel Free to <br> contant US',
				contacts: 'CONTACTS',
				type_something: 'Type something',
				title_news: 'NEWS'
			}, 
			ru: {
				about: 'О компании'
			},
			cn: {
				
			}	
		};