extends ../layout.pug

include ../parts/footer

block content

	.main-navigation.white
		.main-navigation__prev
			svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
				defs
					path#a-1(d='M10.24 7.38L6.98 4.12v21.56h-2V4.16L1.76 7.38.34 5.98 6 .32l5.66 5.66z')
				g(fill='none' fill-rule='evenodd' transform='translate(18 11)')
				mask#b-1(fill='#fff')
					use(xlink:href='#a-1')
				g(fill='#000' mask='url(#b-1)')
					path(d='M-18-11h48v48h-48z')
		.main-navigation__page
			span.main-navigation__current 1
			span.main-navigation__slash /
			span.main-navigation__total
		.main-navigation__next
			svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
				defs
					path#a-2(d='M10.24 18.62l-3.26 3.26V.32h-2v21.52l-3.22-3.22-1.42 1.4L6 25.68l5.66-5.66z')
				g(fill='none' fill-rule='evenodd' transform='translate(18 11)')
				mask#b-2(fill='#fff')
					use(xlink:href='#a-2')
				g(fill='#000' mask='url(#b-2)')
					path(d='M-18-11h48v48h-48z')

	main.main
		section.main-section
			.container
				.main-title(data-translate="title1")
				// <button class="mobile btn main-btn" data-navigation-link="5">Create Trading Platform</button>
				.main-section__bottom
					.secondary-title(data-translate="subtitle1")
					.slick-slider
						.slick-slider__item
							.slick-slider__item_text(data-translate="slider_text1")
							.slick-slider__item_img
								.slick-slider__item_img_bg(style='background: url(img/chains.jpg)')
							.slick-slider__item_descr(data-translate="slider_descr1")
							a.slick-slider__item_link(href='' data-translate="read")
						.slick-slider__item
							.slick-slider__item_text(data-translate="slider_text2")
							.slick-slider__item_img
								.slick-slider__item_img_bg(style='background: url(img/chains.jpg)')
							.slick-slider__item_descr(data-translate="slider_descr2")
							a.slick-slider__item_link(href='' data-translate="read")
						.slick-slider__item
							.slick-slider__item_text(data-translate="slider_text2")
							.slick-slider__item_img
								.slick-slider__item_img_bg(style='background: url(img/chains.jpg)')
							.slick-slider__item_descr(data-translate="slider_descr2")
							a.slick-slider__item_link(href='' data-translate="read")
		section#about.about-section(data-swipe='')
			.container
				.main-title
					span(data-translate="title2")
					.main-title__shadow(data-paralax='30' data-translate="about")
				.about-list
					.about__item.active(data-swipe-item='0')
						.about__item_img
							span(data-translate="about_img_text1")
							.about__item_img_bg(style='background: url(img/chains.jpg)')
						.about__item_text(data-translate="about_text1")
					.about__item(data-swipe-item='1')
						.about__item_img
							span(data-translate="about_img_text2")
							.about__item_img_bg(style='background: url(img/chains.jpg)')
						.about__item_text(data-translate="about_text2")
					.about__item(data-swipe-item='2')
						.about__item_img
							span(data-translate="about_img_text3")
							.about__item_img_bg(style='background: url(img/bitcoin.jpeg)')
						.about__item_text(data-translate="about_text3")
				.swipe-indicator
					span.active
					span
					span
		section#roadmap.roadmap-section
			.container
				.main-title
					span(data-translate="title3")
					.main-title__shadow(data-paralax='30' data-translate="road")
			.roadmap(data-roadmap='' data-animate='')
				.roadmap__years
					.container
						.roadmap__years_item.active(data-roadmap-year='1') 2019
						.roadmap__years_item(data-roadmap-year='2') 2020
				.roadmap__timeline(data-roadmap-timeline='1')
					.container
						.roadmap__timeline_item(style='width: 20%')
							.roadmap__timeline_text(data-translate="roadmap_text1")
							.roadmap__timeline_month(data-roadmap-month='march-2019')
								span(data-translate="march")
								.roadmap__timeline_month_line
						.roadmap__timeline_item(style='width: 50%')
							.roadmap__timeline_text(data-translate="roadmap_text2")
							.roadmap__timeline_month(data-roadmap-month='june-2019')
								span(data-translate="june")
								.roadmap__timeline_month_line
						.roadmap__timeline_item(style='width: 20%')
							.roadmap__timeline_text(data-translate="roadmap_text3")
							.roadmap__timeline_month(data-roadmap-month='november-2019')
								span(data-translate="november")
								.roadmap__timeline_month_line
					.roadmap__timeline_line
				.roadmap__timeline(data-roadmap-timeline='2')
					.container
						.roadmap__timeline_item(style='width: 40%')
							.roadmap__timeline_text(data-translate="roadmap_text4")
							.roadmap__timeline_month(data-roadmap-month='march-2020')
								span(data-translate="january")
								.roadmap__timeline_month_line
						.roadmap__timeline_item(style='width: 25%')
							.roadmap__timeline_text(data-translate="roadmap_text5")
							.roadmap__timeline_month(data-roadmap-month='july-2020')
								span(data-translate="july")
								.roadmap__timeline_month_line
					.roadmap__timeline_line
			.roadmap-indicator
				.roadmap-indicator__inner

		section.partners-section
			.container
				.main-title
					span(data-translate="title4")
					.main-title__shadow(data-paralax='30' data-translate="partners")
				.partners-list
					each val in [1,2,3,4,5,6]
						.partners-list__item
							a(href="" target="_blank")
								img(src='' alt='')
							.partners-list__item__text(data-translate=('partners_text' + val))
		section#contact.contacts-section
			.container
				.main-title
					span(data-translate="title5")
					.main-title__shadow(data-paralax='30' data-translate="contacts")
				.contacts-list
					each val in ['facebook-black', 'twitter-black', 'telegram-black', 'envelope']
						a(href="" target="_blank" class="contacts-list__item")
							img(src=('img/' + val + '.svg') alt='')
							.contacts-list__item__text(data-translate="type_something")
				.copyright-mobile &copy; 2019 Exchange2.net
			include ./../parts/main-footer.pug
	include ./../translate.pug


block footer
	+footer({showMouse: true, initClass: 'white'})