extends ../layout.pug
include ../parts/footer

block content
	main.main
		section.section.news-section
			.container
				.main-title
					span(data-translate="title_news") NEWS
				.news-list
					each val in [1,2,3,4]
						.news-list__item
							.news-list__item__img
								span CREATE 
								span YOUR OWN CRYPTO
								span EXCHANGE PLATFORM
							.news-list__item__date 18.09.2019
							.news-list__item__text Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt mattis lorem luctus id. Donec eget massa a diam condimentum pretium. Aliquam erat volutpat. Integer ut tincidunt orci. Etiam tristique, elit ut consectetur iaculis, metus lectus mattis justo, vel mollis eros neque quis augue. Sed lobortis ultrices lacus, a placerat metus rutrum sit amet. Aenean ut suscipit justo.
							a(href="news_single.html").news-list__item__link read
	include ./../translate.pug

block footer
	+footer({showMouse: false, initClass: ''})