body {
    font-family: Poppins, sans-serif;
    min-width: 320px;
    overflow: hidden;
}

main {
    height: 100%;
}

a {
    color: inherit;
}

.btn {
    border: none;
    cursor: pointer;
    outline: none;
    background: #56a54b;
    transition: 0.2s;

    &:active {
        transform: translateY(1px);
    }

    &:hover {
        background: darken(#56a54b, 5%);
    }
}

.container {
    width: 100%;
    max-width: 1190px;
    margin: auto;
    padding: 0 40px;
}

.wrapper {
    height: 100% !important;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.section {
    width: 100%;
    height: 100%;
    padding-top: 172px;
    overflow: hidden;
}

.main-section {
    background: url(../img/2883368.jpg);
    background-position: center;
    background-size: cover;
    .main-title {
        color: #fff;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        padding-bottom: 110px;
    }

    .secondary-title {
        
    }
    &__bottom {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
    }
}


.main-navigation {
    position: fixed;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 150px;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50px;
    justify-content: center;
    @media screen and (max-width: 768px) {
        bottom: auto;
        top: 90px;
        right: 5px;
        height: 80px;
    }
    @media screen and (max-width: 600px) {
        top: 60px;
    }
    svg {
        display: block;
        @media screen and (max-width: 768px) {
            width: 20px;
        }
    }
    svg g {
        transition: 0.5s;
    }
    &.white {
       

        svg g {
            fill: #fff;
        }
        
        .main-navigation__prev,
        .main-navigation__next {
             color: #fff;
        }
        .main-navigation__page {
            span {
                color: #fff;
            }
        }
    }
    &__prev {
        cursor: pointer;
        transition: 0.5s;
    }
    &__next {
        cursor: pointer;
        transition: 0.5s;
    }
    &__slash {
        font-size: 12px;
    }
    &__current, &__total {
        font-size: 14px;
        @media screen and (max-width: 768px) {
            font-size: 12px;
        }
    }
    svg {
        width: 13px;
        height: 32px;
        @media screen and (max-width: 768px) {
            transform: scale(0.7);
        }
    }
    &__page {
        width: 100%;   
        text-align: center; 
        @media screen and (max-width: 768px) {
            margin-top: -4px;
        }
        span {
            font-family: Montserrat;
            font-weight: bold;
            margin: 0 3px;
            transition: 0.5s;
        }
    }
}

.main-title {
    width: 100%;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.13;
    letter-spacing: normal;
    position: relative;
    transition: 0.3s;
    letter-spacing: 1px;
    text-transform: uppercase;
       @media screen and (max-width: 768px) {
            padding-right: 15px;
       }

    &:before {
        content: '';
        position: absolute;
        top: -15px;
        left: 0;
        width: 100px;
        height: 4px;
        background-color: #56a54b;
        @media screen and (max-width: 600px) {
           top: -8px;
        }
    }

    &__shadow {
        top: 0;
        line-height: 0.5em;
        // right: 0;
        left: 30%;
        position: absolute;
        font-size: 279px;
        font-weight: bold;
        color: #e8e8e8;
        z-index: -1;
        transition: 0.1s;
        white-space: nowrap;
    }
}

.secondary-title {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-top: 30px;
    color: #fff;
    width: 100%;
}

.main-btn {
    margin-top: 30px;
    width: 287px;
    height: 44px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    margin: 30px auto 0;
}


.slick-slider {
    width: 70%;
    margin: 20px auto 0;
    // width: 100%;
    // height: 250px;
    // align-self: flex-end;
    @media screen and (max-width: 600px) {
        width: 80%;
    }
    @media screen and (max-width: 480px) {
        width: 100%;
    }
    .slick-slide {
        & > div {
        margin: 0 15px;   
            @media screen and (max-width: 600px) {
                margin: 0;
            } 
        }
    }
    &__item {
        

        &_text {       
            height: 65px; 
            line-height: 1.2em;
            @media screen and (max-width: 600px) {
                height: auto;
            }
            span {
                // position: absolute;
                // font-family: Poppins;
                font-family: Montserrat;
                font-size: 24px;
                font-weight: bold;
                color: #ffffff;
                display: block;
            }
        }
        &_img {
            position: relative;

            &_bg {
                height: 91px;
                background-size: cover!important;

            }
        }

        &_descr {
            font-size: 14px;
            color: #fff;
            margin-top: 5px;
        }

        &_link {
            font-size: 14px;
            font-weight: 400;
            margin-top: 5px;
            color: #fff;
            display: block;
        }
    }

    .arrow-left {
        background: url(./../img/left-arrow.svg) no-repeat center center;
        background-size: cover;
        width: 30px;
        height: 30px;
        position: absolute;
        left: -60px;
        top: calc(50% - 28px);
        cursor: pointer;
        transition: 0.1s;

        &:hover {
            transform: scale(1.05);
        }
    }

    .arrow-right {
        background: url(./../img/left-arrow.svg) no-repeat center center;
        background-size: cover;
        transform: rotate(180deg);
        width: 30px;
        height: 30px;
        position: absolute;
        right: -60px;
        top: calc(50% - 28px);
        cursor: pointer;
        transition: 0.1s;

        &:hover {
            transform: scale(1.05) rotate(180deg);
        }
    }
}

.swipe-indicator {
    position: absolute;
    bottom: 50px;
    left: 20px;
    display: none;
    width: 100%;
    left: 20px;

    // margin-top: 50px;
    span{
        display: block;
        width: 40px;
        height: 4px;
        background: #e8e8e8;
        margin-right: 10px;
        transition: 0.3s;
        &.active {
            background: #56a54b;
        }
    }
}

.about-section {
    // margin-top: 100px;

    .about {
        &-list {
            // overflow: hidden;
            // display: flex;
            // flex-wrap: wrap;
            margin-top: 24px;
        }

        &__item {

            $c: &;
            float: left;

            &:nth-child(1) {
                width: 34%;

                .about__item_img {
                    width: 255px;

                    &_bg {
                        height: 418px;
                    }
                }

                .about__item_text {
                    min-width: 420px;
                    margin-top: 10px;
                    @media screen and (max-width: 980px) {
                        margin-top: 0;
                    }
                }
            }

            &:nth-child(2) {
                width: 60%;
                display: flex;

                .about__item_img {
                    &_bg {
                        width: 353px;
                        height: 275px;
                        margin-right: 10px;
                    }
                }

                .about__item_text {
                    min-width: 380px;
                }
            }

            &:nth-child(3) {
                width: 60%;
                display: flex;
                margin-left: 40px;
                margin-top: 49px;
                position: relative;
                left: 60px;

                .about__item_img {
                    &_bg {
                        width: 353px;
                        height: 275px;
                        margin-right: 10px;
                    }
                }

                .about__item_text {
                    width: 280px;
                }
            }

            &_text {
                font-size: 18px;
                color: #212121;
                line-height: 24px
            }

            &:hover {
                .about__item_img {
                    transform: scale(1.03);
                }
            }

            &_img {
                position: relative;
                transition: 0.1s;

                span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 24px;
                    font-weight: bold;
                    // line-height: 0.71;
                    line-height: 0.67;
                    color: #ffffff;
                    text-transform: uppercase;
                    font-family: Montserrat;
                    @media screen and (max-width: 768px) {
                        font-size: 20px;
                        line-height: 0.7;
                    }
                }

                img {
                    width: 100%;
                }

                &_bg {
                    background-position: center !important;
                    background-size: cover !important;
                }
            }
        }
    }
}

.roadmap-section {
    // margin-top: 150px;
}
.roadmap-indicator, .team-indicator{
    height: 4px;
    background: #e8e8e8;
    position: absolute;
    display: none;
    width: 100%;
    bottom: 50px;
    // transition: 0.2s;
    &__inner {
        background-color: #56a54b;
        content: '';
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.roadmap {
    box-sizing: content-box; // min-height: 100vh;

    // height: 100vh;
    // overflow: hidden;
    &[data-animate="true"] {
        .roadmap__timeline_item {
            &:nth-child(1) {
                animation: slideInLeft 1s;
                animation-delay: 0s;
            }

            &:nth-child(2) {
                animation: slideInLeft 1s;
                animation-delay: 0.5s;
            }

            &:nth-child(3) {
                animation: slideInLeft 1s;
                animation-delay: 1s;
            }

            &:nth-child(4) {
                animation: slideInLeft 1s;
                animation-delay: 1.5s;
            }
        }

        .we-are-here {
            animation: slideInUp 1s;
            animation-delay: 2s;
        }
    }

    &__years {
        margin-top: 88px;

        .container {
            display: flex;
        }

        &_item {
            font-size: 80px;
            font-weight: 300;
            color: #e8e8e8;
            margin-right: 57px;
            cursor: pointer;

            &.active {
                color: #000;
            }
        }
    }

    &__timeline {
        margin-top: 80px;
        transition: 0.3s;

        .container {
            display: flex;
        }

        &_item {
            height: 225px;
            position: relative;
            opacity: 0;
            animation-fill-mode: forwards !important;
        }

        &_line {
            height: 2px;
            background-color: #798e8a;
        }

        &_text {
            width: 300px;
            height: 70px;
            font-size: 18px;
            font-family: Roboto;
        }

        &_month {
            font-size: 18px;
            font-weight: bold;
            display: inline-block;
            position: relative;

            &:after {
                content: '';
                width: 26px;
                height: 26px;
                bottom: 0;
                background: #56a54b;
                left: 0;
                right: 0;
                margin: auto;
                bottom: -16px;
                z-index: 10;
                border: 3px solid #fff;
                position: absolute;
            }

            &_line {
                width: 2px;
                height: 129px;
                // height: 0;
                transition: 0.3s;
                background-color: #56a54b;
                // margin-left: 50px;
                margin: auto;
                position: relative;

            }

            .we-are-here {
                position: absolute;
                font-size: 18px;
                font-weight: bold;
                position: absolute;
                width: 139px;
                bottom: 5px;
                right: calc(100% - 10px);
                opacity: 0;
                animation-fill-mode: forwards !important;

                &:after {
                    content: '';
                    width: 10px;
                    height: 10px;
                    bottom: 0;
                    background: #56a54b;
                    left: 0;
                    bottom: -13px;
                    z-index: 10;
                    border: 3px solid #fff;
                    position: absolute;
                }
            }
        }
    }
}

.partners-section {
    .container {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }
}

.partners-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: 768px) {
        padding: 0px 0 20px 0;
    }
    &__item {
        margin-bottom: 30px;
        width: calc(100%/3 - 20px);
        @media screen and (max-width: 768px) {
            width: calc(100%/2 - 20px);
            margin-bottom: 20px;
        }
        // @media screen and (max-width: 480px) {
        //     width: 100%;
        //     margin: 15px 0;
        // }
        img {
            width: 150px;
            height: 30px;
            background: #ccc;
            display: block;
            margin: 0 auto 30px;
            @media screen and (max-width: 768px) {
                margin: 0 auto 20px;
                width: 100px
            }
            @media screen and (max-width: 480px) {
                margin: 0 auto 10px;
            }
        }
        &__text {
            text-align: center;
            font-family: Roboto;
             font-size: 18px;
             color: #212121;
             @media screen and (max-width: 768px) {
                font-size: 14px;
             }
             @media screen and (max-width: 480px) {
                font-size: 12px;
             }
        }
    }
}

.contacts-section {
    display: flex;
    flex-wrap: wrap;
    .container {
        margin-top: 0;
    }
    .contacts-label {
        font-family: Montserrat;
        font-size: 80px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -3.87px;
        text-align: center;
        color: #e8e8e8;
        width: 100%;
        position: absolute;
        transform: translateY(-80%);
        @media screen and (max-width: 1280px) {
            font-size: 72px;
        }
        @media screen and (max-width: 980px) {
            font-size: 60px;
        }
        @media screen and (max-width: 768px) {
            font-size: 48px;
        }
         @media screen and (max-width: 600px) {
             font-size: 36px;
         }
         @media screen and (max-width: 480px) {
            font-size: 28px;
         }
            
    }
    .copyright-mobile {
        display: none;
        text-align: center;
        font-size: 14px;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 16px;
        position: absolute;
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
    .contacts-list {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        margin-top: 30px;
        @media screen and (max-width: 768px) {
          padding: 0;
          flex-wrap: wrap;
        }
        &__item {
             
            @media screen and (max-width: 768px) {
               width: calc( 100%/2 );
               margin-bottom: 5vh;
            }

            @media screen and (max-width: 600px) {
                width: 100%;
            }

            @media screen and (max-height:650px) {
                margin-bottom: 3vh;
            }    

            img {
                width: 38px;
                display: block;
                margin: auto;
                @media screen and (max-width: 768px) {
                    width: 32px;
                }
                @media screen and (max-height:650px) {
                    width: 26px;
                }
                @media screen and (max-width: 600px) {
                    width: 5%;
                }

                
            }   
            &__text {
                margin-top: 15px;
                font-family: Montserrat;
                 font-size: 18px;
                 font-weight: bold;
                 text-align: center;
                 @media screen and (max-width: 600px) {
                    font-size: 14px;
                 }
            }
        }
    }
    .contacts-footer {
        position: relative;
        background-color: #e8e8e8;
        // padding: 30px 0;
        align-self: flex-end;
        display: flex;
        width: 100%;
        @media screen and (max-width: 768px) {
           display: none;
        }
        &__button {
            width: 100%;
            .btn {
                margin: 20px auto 40px;
                cursor: pointer;
                width: 100%;
                max-width: 325px;
                height: 60px;
                background-color: #56a54b;
                font-size: 20px;
                font-weight: bold;
                color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.2s;
                @media screen and (max-width: 980px) {
                    max-width: 280px;
                    height: 50px;
                    margin: 10px auto 30px;
                }

                &:hover {
                    background: darken(#56a54b, 5%);
                }
            }
        }
        &__bottom {
             width: 100%;
        }
        .container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 30px auto;
            @media screen and (max-width: 980px) {
                margin: 20px auto;
            }
            @media screen and (max-height: 800px) {
                margin: 15px auto;
            }
        }
        &__list {

            

            & > div {
                font-family: Roboto;
                font-size: 14px;
                margin: 4px 0;
                color: #4a4a4a;
                &:first-child {
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 600;
                    color: #212121;
                    margin: 0 0 20px 0;
                }

                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 150px;
         
                li {
                    width: calc(100%/3);
                    margin-bottom: 15px;
                    display: flex;
                    align-items: center;
                    &:hover {
                        a  {
                            img {
                                transform: scale(1.1);
                            }
                        }
                    }
                    &:nth-child(1) img {
                        width: 16px;
                    }
                    &:nth-child(2) img {
                        width: 24px;
                    }
                    &:nth-child(3) img {
                        width: 17px;
                    }
                    &:nth-child(4) img {
                        width: 24px;
                    }
                    &:nth-child(5) img {
                        width: 25px;
                    }
                    &:nth-child(6) img {
                        width: 24px;
                    }
                    &:nth-child(7) img {
                        width: 24px;
                    }
                    &:nth-child(8) img {
                        width: 22px;
                    }
                    &:nth-child(9) img {
                        width: 16px;
                    }
                    a {
                        img {
                            display: block;
                            margin: auto;
                        }
                    }
                }
            }
        }
        .copyright {
            margin-top: 50px;
            font-size: 14px;
            @media screen and (max-height: 800px) {
                margin-top: 25px;
            }
        }
    }
}


.login-section,
.signup-section {
    // margin-top: 100px;
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;

    min-height: 700px;

    .form-block {
        width: 100%;
    }
}

.slick-slider__item {
    outline: none;
}

@keyframes slideInLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes monthHeight {
    from {
        height: 0;
    }

    to {
        height: 123px;
    }
}


.onepage-pagination {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    height: calc((50px)*7);
    z-index: 5;
    list-style: none;
    margin: auto;
    padding: 0;
    display: none;
}

.onepage-pagination li {
    padding: 0;
    text-align: center;
}

.onepage-pagination li a {
    padding: 10px;
    width: 4px;
    height: 50px;
    display: block;

}

.onepage-pagination li a:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 30px;
    background: rgba(150, 150, 150, 0.85);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before {
    background: rgba(20, 20, 20, 0.85);
}